<div class="container container--content-center container--full-height">
  <div class="content-block align-center">
  	<h1 id="page-header">World Cup 2018</h1>
  	<button class="button" id="login">Login</button>
  </div>
</div>